@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500;700&family=Lexend+Deca:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100 900;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  /* (paragraphs) */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);

  /* (background, headings, buttons) */
  --Very-light-gray: hsl(0, 0%, 95%);
}

body {
  font-family: "Lexend Deca", "Big Shoulders Display", cursive, sans-serif;
  font-size: 15px;
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--Very-light-gray);
  }
}

.card-title {
  color: var(--Transparent-white);
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
  margin-bottom: 20px;
}

main {
  max-width: 600px;
  display: grid;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-info {
    font-family: "Big Shoulders Display";
    line-height: 22px;
    font-size: 15px;
    margin-bottom: 45px;
    color: var(--Transparent-white);
    font-weight: 400;
    /* background-color: blue; */
    max-width: 132px;
  }
}

.card1 {
  background: var(--Bright-orange);
}
.card2 {
  background: var(--Dark-cyan);
}
.card3 {
  background: var(--Very-dark-cyan);
}

.preview-card {
  padding: 25px;
  display: grid;
  align-content: start;
}

.preview-card img {
  margin-bottom: 20px;
  width: 40px;
}
.card-info {
  font-family: "Big Shoulders Display";
  line-height: 22px;
  font-size: 15px;
  margin-bottom: 45px;
  color: var(--Transparent-white);
  font-weight: 400;
  /* background-color: blue; */
  min-width: 132px;
  animation: textSlide 1s linear;
}

.learn-more-btn {
  width: 100px;
  display: inline-block;
  text-align: center;
  line-height: 2;
  padding: 5px 8px;
  font-size: 12px;
  background: var(--Very-light-gray);
  border-radius: 100vw;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
}

.card1 .learn-more-btn {
  color: var(--Bright-orange);
}
.card2 .learn-more-btn {
  color: var(--Dark-cyan);
  /* margin-top: 22px; */
}
.card3 .learn-more-btn {
  color: var(--Very-dark-cyan);
}

.learn-more-btn:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--Transparent-white);
}

@keyframes textSlide {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transition: 2s;
    transform: translateY(0);
  }
}
/* -------------Footer Section---------------- */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
